body {
    margin: 0;
    padding: 0;
    background: #dddddd;
}

#timer {
    color: #fff;
    font-size: 12px;
}
.label {
    font-size: 12px;;
    padding-left: 12px;
}

p {
  /* text-align: center; */
  font-family: 'Lato', sans-serif;
  clear:both;

}

#labels div,  #numbers div {
  float: left;
  width: 48px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  text-align: center;

}
#numbers .separator{
  width: 0px;
}

#labels, #numbers {
  clear: left;
}

#numbers div {
  font-size: 24px;
  min-height: 36px;
}

#numbers .seconds {
  color: #CEB47C;
  font-weight: bold;
}
